numpy
pandas==1.4.3
pyvis==0.3.2
fuzzywuzzy
google-cloud-aiplatform
jsja @ git+ssh://git@github.com/blaorg/jsja.git@staging
abc @ git+ssh://git@github.com/blaorg/abc.git@staging
uah @ git+ssh://git@github.com/blaorg/uah.git@staging
baba @ git+ssh://git@github.com/blaorg/gcpfunctions.git@staging
PubChemPy==1.0.4